* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(38, 14%, 11%, 0.651), #8e0e0098), url(../img/plaza.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(38, 14%, 11%, 0.651), #8e0e0098), url(../img/plaza.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;

}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    background: #fff;
}

.titulo {
    color: hsl(0, 100%, 50%);
    size: 30px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
 }
 
 nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;  
 }
 
 nav > a:hover{
    text-decoration: underline; 
 }
 
 

header {
    width: 100%;
    height: 400px;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(38, 14%, 11%, 0.651), #8e0e0098), url(../img/plaza.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(38, 14%, 11%, 0.651), #8e0e0098), url(../img/plaza.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h3{
    font-style: 30px;
    font-weight: 300;
    color: #fff;
}

section .contenedor-chincha{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-chincha{
    margin-bottom: 20px;
}

.contenedor-chincha .contenido-texto{
    text-align: center;
}

.contenedor-comida{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
}

.img-comida{
    border-radius: 50%;
    padding: 5px 15px 30px 15px;
    width: 400px;
    height: 280px;
}

.img-turismo{
    border-radius: 50%;
    padding: 5px 15px 30px 15px;
    width: 400px;
    height: 280px;
}

.contenedor-turismo{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
}

.contenido-texto {
    padding: 0px 0px 30px 15px;
    text-align: justify;
    font-size: 18px;
}

.contenido-texto p{
    margin: 20px;
}

.contenido-texto h3{
    margin-bottom: 15px;
}

.contenido-texto h3 span{
    background: #8E0E00;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    padding: 2px;
    margin-right: 5px;
}

footer{
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(38, 14%, 11%, 0.651), hsla(6, 100%, 28%, 0.849));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(38, 14%, 11%, 0.651), hsla(6, 100%, 28%, 0.849));
    padding: 50px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.content-foo{
    padding: 15px 0 0 0;
    text-align: center;
}


.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #8E0E00;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

/* PAGINA AUTOBIBLIOGRAFICA*/

.img-san-jose1{
    padding: 0 15px 0 15px;
    margin-bottom: 20px;
    right: 300px;
    height: 300px;    
}

.img-bio{
    border-radius: 50%;
    padding: 5px 15px 30px 15px;
    width: 400px;
    height: 280px;
}

.contenedor-primaria{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
}

.contenedor-secundaria{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
}

.contenedor-universidad{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
}

.contenedor-biografia{
        align-items: center;
        justify-content: center;
        text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #ab4444; 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4444; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4444; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4444; 
  border-color: #ab4444; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4444; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4444;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}